header {
    position:absolute;
    margin-left:0;
    margin-right:0;
    height: 92px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
}

header img {
z-index: -1;
opacity: .5;
width: 90px;
position: relative;
top: -140px;
 }

.sidebar {
    position:absolute;
    width: 12%;
    background-color: #83BADB;
    height: 875px;
    margin-left: -65px;
    font-family: 'VT323';
}

.container {
  width: 90%;
  margin: 0 auto;
}

.photo img {
  display: inline-block;
}

.albumDetail img {
  display: inline-flex;
  width: 312px;
  height: 250px;
  border-radius: 57px;
  margin-left: 40px;
  float: left;
}

.images {
  padding-top: 150px;
}

.button {
  width: 60px;
  opacity: .6;
  margin-left: 15px;
  margin-top: 5px;
}

nav ul {
  list-style-type: none;
}
nav li {
  margin-bottom: 50px;
}

nav a {
  text-decoration: none;
  width: 15px;
  color: #000;
    font-size: 20px;
    text-align: center;
}

header .homebutton:hover {
  transform: scale(1.05);
}
li:hover {
  transform: scale(1.1);
}
.album img:hover{
  opacity: .4;
}

.albums img {
  display: inline-flex;
  width: 300px;
  height: 250px;
  border-radius: 57px;
  margin-left: 75px;
  clear: both;
}


.album {
  display: inline-block;
  width: 33%;
}

.albumDetail{
    display: inline-flex;
    width: 33%;
    margin-left: 80px;
}

section .albums {
  display: inline-flex;
}

.hidden {
  display: none;
}

h3 {
  text-align: center;
  font-family: 'VT323';

}
}
